<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UpdateSong</title>
</head>
<body>
<h3>Update Song Information</h3>

<p>
    <a th:href="@{/songs}">
        Back to song list
    </a>
</p>

<div th:if="${message}" style="color: green; margin: 10px 0">
    <span th:text="${message}"></span>
</div>

<div id="form">
    <form th:action="@{/songs/update}" th:object="${song}" method="POST">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td><label for="title">Title: </label></td>
                <td><input type="text" id="title" th:field="*{title}"/></td>
            </tr>
            <tr>
                <td><label for="artist">Artist: </label></td>
                <td><input type="text" id="artist" th:field="*{artist}"/></td>
            </tr>
            <tr>
                <td><label for="gender">Song Gender: </label></td>
                <td><input type="text" id="gender" th:field="*{gender}"/></td>
            </tr>
            <input type="hidden" th:field="*{songFile}">
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>